.bottom-container{
    width: 100%;
    height: 70px;
    background-color: var(--dark-grey);
    position: fixed;
    display: flex;
    justify-content: space-between;
}

.left-bot-sect{
    background-color: antiquewhite;
    min-width: 12.8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 1rem;
}

.spaced-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
}

.player-img{
    max-width: 40px;
    margin-right: 10px;
}

.song-details{

    h3{
        font-size: 0.8rem;
        margin-bottom: -2px;
    }

    p{
        font-size: 0.6rem;
    }
}

.spaced-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 18%;
    background-color: aquamarine;
    margin-left: 20px;

    i{
        font-size: 0.8rem;
    }
}


.mid-bot-sect{
    width: 40%;
    background-color: aqua;
}

.right-bot-sect{
    width: 20%;
    background-color: azure;
}