.top{
    height: calc(100vh - 70px);
    width: 100%;
    display: flex;
}

/* #region header */
.header{
    height: 60px;
    width: 100%;
    position: sticky;
    background-color: var(--header-color);
    display: flex;
    justify-content: end;
    align-items: center;

    button{
        margin-right: 0.5rem;
        text-transform: uppercase;
        background-color: var(--header-color);
        color: var(--usually-white);
        border: 1px solid var(--usually-white);
        border-radius: 25px;
        padding: 10px 30px;
        font-size: 0.5rem;

        &:hover{
            cursor: pointer;
            color: var(--bg-color);
            background-color: var(--usually-white);
        }
    }
}
/* #endregion header */


/* #region left */
.nav-left{
    background-color: rgb(0, 0, 0);
    min-width: 200px;
    z-index: 2;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    & p:hover:not(.più),
    & img:hover,
    & h2:hover{
        color: var(--usually-white);
        cursor: pointer;
    }
}

.div-in-nav{
    width: 100%;
    padding: 0 1.1rem;

    ul{
        list-style: none;
    }
}

.logo{
    height: 36px;
    margin: 12px auto;
}

.logo-mini{
    display: none;
}

.ul-nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ul-nav-1{
    img{
        height: 21px;
        margin-right: 5px;
    }
}

.li-cont{
    display: flex;
    align-items: center;
    height: 30px;

    p{
        font-size: 0.8rem;
    }

}

.li-cont-2{
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 12px 0;

    h2{
        font-size: 0.7rem;
        text-transform: uppercase;
        color: var(--usually-white);
    }

    div{
        display: flex;
        align-items: center;
    }
}

.li-cont-3{
    p{
        margin: 8px 0;
        font-size: 0.75rem;
    }
}

.più{
    font-size: 1.7rem;
    color: var(--usually-black);
    background-color: var(--normal-grey);
    padding: 0 8px;
    margin-right: 10px;
}

.crea{
    font-size: 0.8rem;
    font-weight: bold;
}

.ul-nav-2{
    div{
        display: flex;
        align-items: center;
    }

    hr{
        width: 160px;
        height: 1px;
        margin: 10px auto;
    }

    &:last-of-type{
        margin-bottom: 6px;
    }

    h2{
        font-size: 0.8rem;
        font-weight: bold;
        color: var(--usually-white);
    }
}

.installa-icon{
    height:15px;
    margin-right: 10px;
}

.installa{
    font-size: 0.8rem;
}

.propic{
    height: 20px;
    width: 20px;
    background-color: var(--normal-grey);
    border-radius: 50%;
    margin-right: 10px;
}

@media screen and (max-width:540px){

    .nav-left{
        min-width: 42px;

        .div-in-nav{
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: baseline;

            .logo{
                display: none;
            }
    
            .logo-mini{
                display: block;
                height: 20px;
                margin-bottom: 10px;
            }

            .ul-nav-1{

                p{
                    display: none;
                }
            }

            .li-cont-2{
                display: none;
            }

            .li-cont-3{
                display: none;
            }

            .ul-nav-2{
                height: 40px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
                p{
                    display: none;
                }

                hr{
                    display: none;
                }

                h2{
                    display: none;
                }

                .installa-icon{
                    margin-left: 1px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

/* #endregion left */


/* #region right */
.right-sidebar-container{
    flex-grow: 1;
    min-width: 380px;
    background-color: var(--bg-color);
    overflow-y: auto;

    h2{
        font-weight: bold;
        color: var(--usually-white);
        font-size: 1.3rem;
    }
}

.nav-top{
    margin-top: 1rem;
    margin-bottom: -1rem;

    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
        gap: 2rem;

        div{
            border-bottom: 1px solid transparent;

            &:has(p:hover){
                border-bottom: 1px solid var(--hover-color);
            }

            p{
                font-size: 0.55rem;
                font-weight: bold;
                text-transform: uppercase;
                padding-bottom: 3px;
                cursor: pointer;

                &:hover{
                    color: var(--usually-white);
                }
            }
        }
    }
}

.nome-selezione{
    margin: 2rem 1rem 10px 10px;
}

.desc-selezione{
    margin: -10px auto 1rem 10px;
    font-size: 0.75rem;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;

    .overlay{
        position: relative;
        
        &:hover img{
            filter: opacity(20%);
            cursor: pointer;
        }

        &:hover i{
            cursor: pointer;
            display: block;
        }
    }

    .fa-play{
        position: absolute;
        z-index: 100;
        border: 3px solid var(--usually-white);
        border-radius: 50%;
        padding: 1px 3.5px;
        color: var(--usually-white);
        top: 50%;
        left: 50%;
        translate: -45% -55%;
        cursor: pointer;
        display: none;
    }

    img{
        max-width: 80%;
        margin-left: 15px;
    }

    h2{
        font-size: 0.8rem;
        max-width: 85%;
        text-align: center;
        margin: 10px 10px 4px 10px;
    }

    p{
        font-size: 0.6rem;
        margin-bottom: 10px;
    }
}
/* #endregion right */